.space{
    background-image: url("space.png");
}
.rocket{
    transform: rotate(30deg);
    position: absolute;
    left: 35%;
    bottom: 25%;
}
.control-panel__inner{
    margin: 10px 10px;
    position: absolute;
    right:10vw;
    top: 20vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
}
.control-panel{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: 10px dot-dot-dash purple;
}
.check-buttons{
    display: flex;
    justify-content: space-evenly;
}
.levers{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}
input[type=range]{
    transform: rotate(270deg);
    width: 50px;
}
#password{
    border: 1px solid blue;
}
input[type=button]{
    background-color: aqua;
}
#launch{
    border-radius: 50%;
    width: 200px;
    margin-left: 50px;
    background-color: red;
}
